<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Index page</title>
  <h1>Home page</h1>
</head>
<body>
  
    <h1>Form</h1>
    <form method="post" action="/">
    <input name="title">
    <button type="submit">Submit</button>
    <hr/>
    <a href="/about">Link to about page</a>
    <hr/>
    <a href="/api/users">Api (get users)</a>
</body>
</html>